@{ var year = DateTime.Now.Year; }
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>A sample web application using Microsoft Azure Web Sites</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>

<body>
<h1>Congrats You have created a Sample Web App</h1>
<p>This is a minimalist "Hello World" HTML page</p> 
<p>Copyright &copy; @year</p>
</body>
</html>